<!DOCTYPE html>
<link rel="stylesheet" href="styles/GenEquipment.css">

<html>
    <head>
        <title> PathDragon RPG Generator </title>
    </head>
    <body>
        <h1><b>PathDragon: the RPG Generator</b></h1>
        <h2><b>Generate Equipment</b></h2>
    </body>
</html>