<!DOCTYPE html>
<link rel="stylesheet" href="styles/LoginPage.css">

<html>
    <head>
        <title> PathDragon RPG Generator </title>
    </head>

    <script src="scripts/ai.js"></script>

    <body>
        <h1><b class="beleren">PathDragon: the RPG Generator</b></h1>
        <img src="/assets/DragonLogo.png" class="logo">
        <h2>Login to Your Account</h2>

        <div class="credentials">
            <label> Username </label>
            <input type="text" id="username-box"></input>
            <label> Password </label>
            <input type="text" id="password-box"></input>
            <button onclick="window.location.href = 'http://localhost:3000/main';">
                Login 
            </button>
        </div>
    </body>
</html>