<!DOCTYPE html>
<link rel="stylesheet" href="styles/MainMenu.css">

<html>
    <head>
        <title> PathDragon RPG Generator </title>
    </head>

    <body>
        <h1><b>PathDragon: the RPG Generator</b></h1>
        <h2><b>Select Component to Generate</b></h2>
        <div class="grid-container">
            <div class="grid-item">
                <input onclick="window.location.href='http://localhost:3000/monster';" type="image" src="/assets/Monster.png"/>
                <h3> Monster </h3>
            </div>
            <div class="grid-item">
                <input onclick="window.location.href='http://localhost:3000/equipment';" type="image" src="/assets/Equipment.png"/>
                <h3> Equipment </h3>
            </div>
            <div class="grid-item">
                <input onclick="window.location.href='http://localhost:3000/dungeon';" type="image" src="/assets/Dungeon.png"/>
                <h3> Dungeon </h3>
            </div>
            <div class="grid-item">
                <input onclick="window.location.href='http://localhost:3000/character';" type="image" src="/assets/Adventurer.png"/>
                <h3> Character </h3>
            </div>
        </div>
    </body>
</html>

