<!DOCTYPE html>
<link rel="stylesheet" href="styles/MainMenu.css">

<html>
    <head>
        <title> PathDragon RPG Generator </title>
    </head>

    <body>
        <h1><b class="beleren">PathDragon: the RPG Generator</b></h1>
    </body>
</html>

