<html>
    <body>

    <div id="chatbox"></div>
    <form id="message-form">
    <label for="message-input"></label>
        <textarea type="text" id="message-input" placeholder="Type your message here"></textarea>
      <button type="submit">Send</button>
    </form>
    <script type="module" src="/scripts/TestScript.js"></script>
  </body>
</html>