@font-face {
    font-family: "beleren";
    src: url('../fonts/Beleren2016SmallCaps-Bold.woff');
}

body {
    background-color: grey;
}

h1 {
    color: red;
    text-align: center;
    font-family: "beleren";
    text-shadow: 2px 2px #000000;
}

h2 {
    color: red;
    text-align: center;
    font-family: "beleren";
    text-shadow: 2px 2px #000000;
}

.column {
    display: flex;
    flex-direction: column;
    float: left;
    width: 33%;
}

.padded {
    margin-left: 10px;
    font-size: larger;
}

.extraPadded {
    margin-left: 30px;
    margin-right: 10px;
    font-size: larger;
}

.context {
    box-sizing: border-box;
    height: 768px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.output {
    box-sizing: border-box;
    height: 256px;
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
}

input[type=checkbox] 
{
    align-self: flex-start;
    transform: scale(2);
    margin-left: 18px;
    margin-top: 5px;
}

select {
    width: 100%;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: large;
}

textarea {
    font-size: larger;
}