@font-face {
    font-family: "beleren";
    src: url('../fonts/Beleren2016SmallCaps-Bold.woff');
}

body {
    background-color: grey;
}

h1 {
    color: red;
    text-align: center;
    font-family: "beleren";
    text-shadow: 2px 2px #000000;
}